<div class="page">
    <app-header profile="restaurant"></app-header>
    <div class="content">
        <h1 class="content-title">
            <span>Gestion de mon restaurant</span>
            <div class="separator"></div>
        </h1>
        <div class="add-btn-wrap">
            <div class="add-btn" routerLink="/restaurant/menu-form">
                Créer un nouveau menu
            </div>
        </div>
        <div class="filter-wrap">
            <select class="select" (change)="search()" [(ngModel)]="visibility">
                <option  class="select-options" value="">Tous les menus</option>
                <option  class="select-options" value="true">Menus visibles</option>
                <option  class="select-options" value="false">Menus cachés</option>
                
            </select>
        </div>
       
       
        <div class="my-alert" *ngIf="menus.length==0">
            <div class="my-alert-text">E-Kaly</div>
            <div class="my-alert-description">Aucun menu disponible.</div>
        </div>
        
        <div *ngIf="menus.length!=0">
            <div class="basket-items">
                <div class="basket-item" *ngFor="let menu of menus; let iMenu = index">
                    <div class="basket-item-title " >
                        <span>{{menu.name}}</span>
                        <div class="action-wrap">
                            <i class="fa fa-edit icon" (click)="edit(menu._id)"></i>
                            <i class="fa fa-remove icon" (click)="delete(menu._id)"></i>

                        </div>
                    </div>
                    <div class="basket-item-infos">
                        
                        <div class="basket-item-description"><span class="key">Prix unitaire : </span><span class="value">{{menu.unitPrice | currency : 'EUR'}}</span></div>
                        <div class="basket-item-description" *ngIf="menu.description!=''"><span class="key">Description  : </span> <span class="value">{{menu.description}}</span></div>
                    </div>
                    <div class="btn-wrap" *ngIf="menu.isVisible">
                        <div class="btn" (click)="toggleVisibility(iMenu)">
                            Cacher
                        </div>
                    </div>
                    <div class="btn-wrap" *ngIf="!menu.isVisible">
                        <div class="btn" (click)="toggleVisibility(iMenu)">
                            Rendre visible
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
