.header{
    
}
.content{
    padding : 20px;
    .content-title{
        display : flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .separator{
            width : 75px;
            min-height : 3px;
            border-radius: 10px;
            background-color: var(--theme);
        }
    }
}
