<div class="page">
    <app-header profile="e-kaly"></app-header>
    <div class="content">
        <h1 class="content-title">
            <span>Bénéfices E-Kaly</span>
            <div class="separator"></div>
        </h1>
        <div class="loader-wrap" *ngIf="onLoading">
            <div class="loader lg">
                <div class="ball-clip-rotate">
                    <div></div>
                </div>
            </div>
        </div>
        <div class="my-alert" *ngIf="!onLoading && profits.length==0">
            <div class="my-alert-text">E-Kaly</div>
            <div class="my-alert-description">Aucun bénéfice enregistré.</div>
        </div>
        <table class="my-table" *ngIf="!onLoading && profits.length!=0">
            <tr>
                <th>Date</th>
                <th>Restaurant</th>
                <th>Bénéfices</th>
                <th>Nombre de commande</th>
            </tr>
            <tr *ngFor="let profit of profits">
                <td>{{profit._id.date}}</td>
                <td>{{restaurantMap[profit._id.restaurantId].name}}</td>
                <td>{{profit.totalProfit|currency:'EUR'}}</td>
                <td>{{profit.totalOrders}}</td>
            </tr>
        </table>
    </div>

    
    <app-footer></app-footer>
</div>
