
<app-header></app-header>
<div class="content">
    <h1 class="content-title">
        <span>Nos Restaurants</span>
        <div class="separator"></div>
    </h1>
    <div class="restaurants">
        <div class="restaurant">
            <div class="restaurant-image-wrap">
                <img class="restaurant-image" src="assets/img/restaurant-1.jpeg" alt="Image"/>
            
            </div>
            <div class="backdrop-filter">
                <div class="restaurant-infos">
                    <h2 class="restaurant-name">Mc Donald</h2>
                    <div class="restaurant-description">Ouvert de 09h à 18h</div>
                    <div class="restaurant-description">Frais de livraison : 1.79 Euro</div>

                </div>
                
            </div>
            
        </div>
        <div class="restaurant">
            <div class="restaurant-image-wrap">
                <img class="restaurant-image" src="assets/img/restaurant-2.jpeg" alt="Image"/>
            
            </div>
            <div class="backdrop-filter restaurant-infos">
                <h2 class="restaurant-name">Mc Donald</h2>
            </div>
        </div>
        <div class="restaurant">
            <div class="restaurant-image-wrap">
                <img class="restaurant-image" src="assets/img/restaurant-3.jpeg" alt="Image"/>
            
            </div>
            <div class="backdrop-filter restaurant-infos">
                <h2 class="restaurant-name">Mc Donald</h2>
            </div>
        </div>
        <div class="restaurant">
            <div class="restaurant-image-wrap">
                <img class="restaurant-image" src="assets/img/1.png" alt="Image"/>
            
            </div>
            <div class="backdrop-filter restaurant-infos">
                <h2 class="restaurant-name">Mc Donald</h2>
            </div>
        </div>
        <div class="restaurant">
            <div class="restaurant-image-wrap">
                <img class="restaurant-image" src="assets/img/2.jpeg" alt="Image"/>
            
            </div>
            <div class="backdrop-filter restaurant-infos">
                <h2 class="restaurant-name">Mc Donald</h2>
            </div>
        </div>
        <div class="restaurant">
            <div class="restaurant-image-wrap">
                <img class="restaurant-image" src="assets/img/3.jpg" alt="Image"/>
            
            </div>
        </div>
        <div class="restaurant">
            <div class="restaurant-image-wrap">
                <img class="restaurant-image" src="assets/img/4.jpg" alt="Image"/>
            
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>