<div class="page">

    <app-header profile="client"></app-header>
    <div class="content">
        <h1 class="content-title">
            <span>{{restaurant.name}}</span>
            <span class="small">{{restaurant.description}}</span>
            <span class="small"><i class="fa-solid fa-map-pin icon mr-5"></i>{{restaurant.address}}</span>
            <div class="separator"></div>
        </h1>
        <div class="my-alert" *ngIf="menus.length==0">
            <div class="my-alert-text">E-Kaly</div>
            <div class="my-alert-description">Aucun menu disponible pour le restaurant {{restaurant.name}}</div>
        </div>
        <div class="my-cards menus" *ngIf="menus.length!=0">
            <div class="my-card" *ngFor="let menu of menus" routerLink="/client/menu/{{menu._id}}">
                <div *ngIf="menu.isVisible">
                    <div class="my-card-image-wrap">
                        <img class="my-card-image" src="assets/img/restaurant-2.jpeg" alt="Image"/>
                    </div>
                    <div class="backdrop-filter">
                        <div class="my-card-infos">
                            <div class="my-card-description">{{menu.description}}</div>
                            <div class="my-card-description">Prix unitaire : {{menu.unitPrice|currency}}</div>
                        </div>
                    </div>
                    <div class="informations">
                        <h2 class="title">{{menu.name}} ~ <span class="color-theme">{{menu.unitPrice|currency}}</span></h2>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    <app-footer></app-footer>
</div>